<div class="cotainer">
    <app-modal [message]="errorService" [modal]="formModal"></app-modal>


    <div class="product-left">
        <div class="menu">
            <h1>Telescopios</h1>
            <h3><p> {{ listProducts.length }} Resultados</p></h3>
            <h1>Filtros</h1>
            <h2>——————————</h2>
            <h1>Apertura</h1>
            <div class="col-10" id="type-b">
            <input type="checkbox" id="Pulgadas">
            <label for="check-button">2 Pulgadas</label>
            </div>
            <div class="col-10" id="type-b">
            <input type="checkbox" id="Pulgadas">
            <label for="check-button">3 Pulgadas</label>
            </div>
            <div class="col-10" id="type-b">
            <input type="checkbox" id="Pulgadas">
            <label for="check-button">4 Pulgadas</label>
            </div>
            <div class="col-10" id="type-b">
            <input type="checkbox" id="Pulgadas">
            <label for="check-button">5 Pulgadas</label>
            </div>
            <div class="col-10" id="type-b">
            <input type="checkbox" id="Pulgadas">
            <label for="check-button">6 Pulgadas</label>
            </div>
            <div class="col-10" id="type-b">
            <input type="checkbox" id="Pulgadas">
            <label for="check-button">7 Pulgadas</label>
            </div>
        </div>
    </div>
    

    <div class="product-right">
        <div class="card-container">
            <div class="card" *ngFor="let element of listProducts" >
                <a routerLink="/detail" [queryParams]="{marca: element.marca, nombre: element.nombre, precio: element.precio, imagen: element.imagen, stock: element.stock, descripcion: element.descripcion}">
                <img src="{{ element.imagen }}" alt="{{ element.nombre }}">
                <div class="card-info">
                <p class="card-brand">{{ element.marca }}</p>
                <h2 class="card-title">{{ element.nombre }}</h2>
                <p class="card-price">${{ element.precio }}</p>
                </div>
                </a>
            </div>
                
        </div>
    </div>

</div>
                