.cotainer {

  display: grid;
  grid-template-columns: 30% 70%;
  
}

.menu{

  padding-left: 80px;
  padding-top: 150px;

  h1{
      font-size: 32px;
      font-weight: bold;
  }

  h3{
    font-size: 22;
    color: #5D5C5C;
    padding-bottom: 10px;
  }
  

}

input[type=checkbox] {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #fff;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type=checkbox]:checked {
  background-color: #0D5FBD;
  border: 1px solid #0D5FBD;
}

.product-left{
  grid-column: 1 / 2;
  background: #C0FAEA;
  
}

.product-right{
  grid-column: 2 / 3;
  padding-left: 150px;
  padding-top: 180px;
}


.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 120px;
}

.card {
  width: 285px;
  height: 400px;
  box-shadow: 0px 0px 10px #3030302a;
  overflow: hidden;
  border-radius: 10px;
  
}

.card img {
  width: 285px;
  height: 285px;
}

.card-info {
  padding: 10px;
  background-color: #ffffff;
}


.card-brand {
  color: #BCC7CA;
  margin-top: 5px;
  font-size: 18px;
}

.card-title {
  font-weight: bold;
  margin-top: 0;
  font-size: 18px;
  color: black
}

.card-price {    
  margin-top: 5px;
  font-size: 16px;
  color: black;
}