<ng-container>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid" >
          <a class="navbar-brand" href="#" id="logo">
            <img src="assets/imagenes/logo.png" alt="Logo">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto navbar-center">
              <li class="nav-item">
                <a class="nav-link" routerLink="/soon" routerLinkActive="active">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">PRODUCTOS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/soon" routerLinkActive="active">BLOG</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/soon" routerLinkActive="active">ACERCA DE</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item ml-auto" id="login">
                <a class="nav-link" routerLink="/auth/login">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav> 

    <main class="login-form">
        <ng-container>
            <router-outlet></router-outlet>
        </ng-container>
    </main>
</ng-container>