.navbar-center {
  margin: 20PX;
  display: flex;
  justify-content: center;
  flex-grow: 1; 
}

#login {

  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  background-color: #02EAA8;
  margin-right: 50px;
  width: 120px;
  text-align: center;
  padding-left: 30px;
  
}

#logo{
  margin-left: 50px;
}

.navbar {

  .navbar-brand {
    img {
      height: 70px;
      width: auto;
    }
  }

  .nav-link {
    color: black;
    font-weight: bold;
    font-size: 18px;
    margin-right: 70px;
    transition: color 0.3s ease;


    &:hover {
      color: #02EAA8;
    }

    &.active {
      color: #02EAA8;
    }
  }

  
}