<div class="cotainer">
    <app-modal [message]="errorService" [modal]="formModal"></app-modal>


    <div class="login-left">
        <div class="login-header">
            <h1>Login</h1>
        </div>
         <form autocomplete="off" [formGroup]="loginForm">
            <div class="login-form-content">
                <div class="form-item">
                    <label for="email">Email</label>
                    
                    <input autocomplete="off"
                    class="form-control"
                    [ngClass]="!loginForm.get('username')?.valid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched) ? 'is-invalid' : 'is-valid'"
                    formControlName="username" id="input-username" type="text" 
                    placeholder="Username" required autofocus>
                <div class="error-messages">
                    <ng-container *ngFor="let error of errorMessages.username">
                        <div class="error-message"
                            *ngIf="loginForm.get('username')?.hasError(error.type) && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)">
                            {{ error.message }}
                        </div>
                    </ng-container>
                </div> 

                </div>
                <div class="form-item">
                    <label for="password">Password</label>
                    
                    <input autocomplete="off" type="password"
                    class="form-control"
                    [ngClass]="!loginForm.get('password')?.valid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched) ? 'is-invalid' : 'is-valid'"
                    formControlName="password" id="input-password" 
                    placeholder="Password">
                <div class="error-messages">
                    <ng-container *ngFor="let error of errorMessages.password">
                        <div class="error-message"
                            *ngIf="loginForm.get('password')?.hasError(error.type) && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
                            {{ error.message }}
                        </div>
                    </ng-container>
                </div>

                </div>
                
                <button type="button" [disabled]="!loginForm.valid" (click)="submit()" class="btn btn-primary">Login</button>
                
            </div>
            <div class="login-form-footer">
                <a routerLink="/register" class="nav-link">¿No tienes cuenta? Registrarte</a> 
            </div>
        </form>

    </div>

    <div class="login-right">
    
    </div>







        
               
</div>