<div class="cotainer">
    <app-modal [message]="errorService" [modal]="formModal"></app-modal>

                    <div class="login-left">
                        
                    </div>

                    <div class="login-right">
                        <div class="login-header">
                            <h1>Registro</h1>
                        </div>
                        <form id="register-form" method="post" role="form" [formGroup]="registerForm">
                            <div class="login-form-content">
                                <div class="form-item">
                                    <label for="email">Nombre</label>
                                    <input formControlName="userName" type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Usuario" value="">
                                </div>
                                <div class="form-item">
                                    <label for="password">Email</label>
                                    <input formControlName="email" type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Correo electronico" value="">
                                </div>
                                <div class="form-item">
                                    <label for="password">Contraseña</label>
                                    <input formControlName="password" type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Contraseña">
                                </div>
                                <div class="form-item">
                                    <label for="password">Confirmar contraseña</label>
                                    <input formControlName="confirm" type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirmar contraseña">
                                </div>

                                <input type="submit" (click)="submit()" name="register-submit" id="register-submit" tabindex="4" class="btn btn-primary" value="Crear cuenta">

                            </div>
                            
                        </form>
            
                    </div>
                    
                
</div>
