.cotainer{

    display: grid;
    grid-template-columns: 7fr 3fr;
    padding: 50px;
    overflow: hidden;
    
}

.detail-izquierda{
    grid-column: 1, 2;
    padding-left: 80px;
    p{
        color: grey;
        text-transform: uppercase;
    }
    img{
        width: 800px;
        height: auto;
        padding-left: 140px;
    }

}

.detail-derecha{
    grid-column: 2, 3;
    
    border-color: #02EAA8;
    border-width: 1px;
    padding-top: 90px;
    padding-right: 40px;

    .precio{
        font-size: 22px;
        font-weight: bold;
        
    }

    .stock{
        color: grey;
        
    }
    
    .descripcion-title{
        font-weight: bold;
    }

    h2{
        padding-bottom: 20px;
    }
    
    p{
        font-size: 17px;
    }
}



.button{
    border: none;
    background: #02EAA8;
    color: black;
    width: 200px;
    text-align: center;
    font-size: 18px;
    height: 55px;
    margin-top: 20px;
    border-top-left-radius: 22px;
    border-bottom-right-radius: 22px;
    
  } 