<div class="cotainer">

    <div class="detail-izquierda">
        <div class="product-info">
        <h1>{{ nombre }}</h1>
        <p class="descripcion">{{ marca }}</p>
        <img [src]="imagen" alt="{{ nombre }}">
        </div>
    </div>

    <div class="detail-derecha">   
        <div class="product-detail">
        <p class="precio">${{ precio }}</p>
        <p class="stock">Stock: {{ stock }}</p>
        <h2>——————————</h2>
        <p class="descripcion-title">Descripción</p>
        <p class="descripcion">{{ descripcion }}</p>
        </div>
        <button type="button" class="button">Agregar al carrito</button>
    </div>

</div>

